*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

/* Styles for screens smaller than 768px */
@media (max-width: 767px) {
  /* Your CSS styles here */
}

/* Styles for screens larger than 768px */
@media (min-width: 768px) {
  /* Your CSS styles here */
}

body, .home {
	
	color: rgb(11, 11, 11);
	background-color: white;
}

.header{
	height: 80px;
	width: 100%;
	background-color: rgb(0, 0, 0);
	list-style: none;
	display: flex;
	justify-content: right;

}

.header li{
	padding: 20px 20px;
}

.header li a{
	padding: 50px;
	color: white;
	transition: .3s;
}

.header a:hover, .header a.active{
	color: rgb(255, 6, 6);
}


.home {
	height: 90vh;
	display: flex;
	align-items: center;
	padding: 0 30px;
}

.home-content{
	max-width: 600px;
}

.home-content h1{
	font-size: 48px;
	font-weight: 600;
	line-height: 1.5;
	padding-top: 6px;
	
}


.home-sci{
	position: absolute;
	
	width: 180px;
	display: flex;
	justify-content: space-between;
	
}

.home-sci a{
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 1px solid rgb(0, 169, 207);
	border-radius: 50%;
	font-size: 20px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	z-index: 1;
	overflow: hidden;
	transition: .5s;
}


.home-sci a:hover{
	color: black;
}

.footer{
	width: 100%;
	height: 40px;
	padding: 30px;
	background-color: rgb(129, 125, 125);
	text-align: right;
}

.footer .home-sci {
	padding-bottom: 30px;
}

body, .about {
	background-color: rgb(212, 202, 202);
	height: 100%;
	width: 100%;
}

